.conteudo {
    display: flex;
  }
  
  :root {
    --primaria: #58a4b0;
    --secundaria: #373f51;
    --secundaria-ativa: #cccccc;
    --fundo: #ffffff;
    --fundo-detalhes: #ececec;
  }

  .anime-left {
    opacity: 0;
    transform: scale(.8);
    animation: anime-left .7s fowards
  }

  @keyframes anime-left {
    to {
      opacity: 1;
      transform: initial;
    }
  }

  .conteudo-principal {
    flex-grow: 3;
  }